/* Typography classes */

.text {
  margin: 0;
  padding: 0;
}

.text_type_label_default {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.text_type_main-default {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.text_color_error {
  color: #e52b1a;
}

.noselect {
  user-select: none;
}
